%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &1
MonoBehaviour:
  m_ObjectHideFlags: 52
  m_CorrespondingSourceObject: {fileID: 0}
  m_PrefabInstance: {fileID: 0}
  m_PrefabAsset: {fileID: 0}
  m_GameObject: {fileID: 0}
  m_Enabled: 1
  m_EditorHideFlags: 0
  m_Script: {fileID: 13988, guid: 0000000000000000e000000000000000, type: 0}
  m_Name: TrainARScene
  m_EditorClassIdentifier: 
  m_RawWindowType: UnityEditor.SceneView, UnityEditor.CoreModule, Version=0.0.0.0,
    Culture=neutral, PublicKeyToken=null
  m_SaveData:
  - dockPosition: 0
    containerId: overlay-toolbar__top
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: -98.666626, y: -26}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 3
    id: Tool Settings
    index: 0
    layout: 1
  - dockPosition: 0
    containerId: overlay-toolbar__top
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: -141, y: 149}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 1
    id: unity-grid-and-snap-toolbar
    index: 1
    layout: 1
  - dockPosition: 1
    containerId: overlay-toolbar__top
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: unity-scene-view-toolbar
    index: 0
    layout: 1
  - dockPosition: 1
    containerId: overlay-toolbar__top
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 1
    id: unity-search-toolbar
    index: 1
    layout: 1
  - dockPosition: 1
    containerId: overlay-toolbar__top
    floating: 1
    collapsed: 0
    displayed: 1
    snapOffset: {x: 45.666626, y: -82.333374}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 2
    id: TrainAR Object State
    index: 2
    layout: 4
  - dockPosition: 0
    containerId: overlay-container--left
    floating: 1
    collapsed: 0
    displayed: 0
    snapOffset: {x: -252.33325, y: -79.333374}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 3
    id: TrainAR Object Offset
    index: 2
    layout: 4
  - dockPosition: 0
    containerId: overlay-container--left
    floating: 1
    collapsed: 0
    displayed: 0
    snapOffset: {x: -252.33325, y: -79.333374}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 3
    id: Convert to TrainAR Object
    index: 2
    layout: 4
  - dockPosition: 0
    containerId: overlay-container--left
    floating: 1
    collapsed: 0
    displayed: 0
    snapOffset: {x: -252.33325, y: -79.333374}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 3
    id: unity-transform-toolbar
    index: 0
    layout: 4
  - dockPosition: 0
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 1
    snapOffset: {x: 67.5, y: 86}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Orientation
    index: 0
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Light Settings
    index: 0
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Camera
    index: 1
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Cloth Constraints
    index: 2
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Cloth Collisions
    index: 3
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Navmesh Display
    index: 4
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Agent Display
    index: 5
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Obstacle Display
    index: 6
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Occlusion Culling
    index: 7
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Physics Debugger
    index: 8
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Scene Visibility
    index: 9
    layout: 4
  - dockPosition: 1
    containerId: overlay-container--right
    floating: 0
    collapsed: 0
    displayed: 0
    snapOffset: {x: 0, y: 0}
    snapOffsetDelta: {x: 0, y: 0}
    snapCorner: 0
    id: Scene View/Particles
    index: 10
    layout: 4
